.LoginPage{
    background-image: url("../images/titled-background-image2.jpg");
    background-size: cover;
   //  background-position: 'center';
   
   //  background-repeat: 'no-repeat';
   // width: fit-content;
   
   // background-image: url(" .public/logo192.png");

   // background-image: url("../../public/assets/profile.png")
}

.signin-div

{ 
   
   margin:100px;
   //margin-left:auto;
   margin-bottom: 0;    
   height: 750px;
   border-style: none;

}



.signinform

{

   margin: 40px;
   margin-top: 40px;

}

Grid

{
   margin:0px;
}
