
.signup{
    background-image: url("../images/titled-background-image2.jpg");
    background-size: cover;
}



.signup-div

{ 

    margin: 80px;
    margin-left: 450px;
   width: 700px;
   height: 600px;
   margin-bottom:0;

}



.signupform

{

    margin: 40px;
    margin-top: 40px;



}




Grid

{
    margin:10px;
}



.maindiv

{

    align-items: center;

}